
.caption {
    text-align: center;
    color: whitesmoke;
    width: 100%;
    position: relative;
    bottom: 120px;
    background-color: cadetblue;
    
}

.content {
    background-color: whitesmoke;
}

#contentHeader {
    background-color: whitesmoke;
    color: cadetblue;

}

#PortfolioContent {

}

#indexContent {

}

#contactContent {

}

#navbar {

}
@media only screen and (max-width: 600px) {
    #nameplate {
        display: block;
        width: 100%;
        text-align: center;
        margin: auto;
    }
}


#nameplate {
    background-color: cadetblue;
    color: whitesmoke;

}

#background {

}

button {
    background-color: cadetblue;
}

.page-footer {
    border-top: cadetblue 5px solid;
    background-color: rgb(75, 75, 75)
}

