.bioPage {
    background-color: whitesmoke;
}

.caption {
    text-align: center;
    color: whitesmoke;
    width: 100%;
    position: relative;
    bottom: 120px
    
}

.content {
    background-color: whitesmoke;
}

#contentHeader {

}

#PortfolioContent {

}

#indexContent {

}

#contactContent {

}

#navbar {

}

#nameplate {

}

#background {

}

